# DockerHub
DOCKERHUB_USERNAME=tu_usuario_dockerhub
IMAGE_TAG=latest

# RabbitMQ
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin123

# Azure B2C
AZURE_ISSUER_URI=coloca_aqui_el_issuer_uri
AZURE_JWK_SET_URI=coloca_aqui_el_jwk_set_uri
AZURE_AUDIENCE=coloca_aqui_el_aud_del_access_token

# AWS Academy
AWS_ACCESS_KEY_ID=tu_aws_access_key_id_de_vocalabs
AWS_SECRET_ACCESS_KEY=tu_aws_secret_access_key_de_vocalabs
AWS_SESSION_TOKEN=tu_aws_session_token_largo_de_vocalabs
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=nombre_de_tu_bucket_s3